* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #E3E3E3;
	font-size: 100%;
	line-height: 1.125em;
	color: #222;
	/* system: serif */
	font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

fieldset {
	border: 0;
}

.center {
	background-color: #FFF;
}

@media screen and (min-width: 750px) {
	.center {
		max-width: 750px;
		margin: 2em auto;
	}
	.center > div {
		border: 1px solid #999;
	}
}

tt,
pre {
	text-transform: none;
}

tt a,
pre a {
	text-decoration: none;
}

h1 {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	padding: 0.2em 0 0 0.2em;
	font-size: 2em;
	line-height: 1.5em;
}

h2 {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	font-size: 1em;
	padding: 0.2em 0.3em;
	background-color: #F8F8F8;
	text-transform: lowercase;
	margin: 1em 0 0.3em;
}

h2:first-child {
	margin-top: -1px;
}

li {
	list-style: none;
	padding: 0.1em 0.5em;
}

p {
	padding: 0.1em 0.5em;
}

nav {
	display: flex;
	align-items: end;
}

nav > img {
	max-width: 60px;
	margin: 0.2rem;
}

nav > span {
	flex-grow: 1;
	text-align: right;
	font-size: 0.75em;
	margin: 0.1rem 0.2rem;
}

img {
	vertical-align: text-bottom;
	border: 0;
}

p,
li,
td {
	font-size: 0.875em;
}

td {
	padding: 0 0.25em;
}

table {
	width: 100%;
	text-transform: none;
	border-spacing: 0;
	border-collapse: collapse;
	margin: -0.3em 0 0.1em;
}

.points {
	text-align: right;
}

.row1 {
	background-color: #F8F8F8;
}

/* cycled */
a {
	color: #33A;
}

a:visited {
	color: #225;
}

a:hover {
	color: #33A;
}

nav a {
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}
