* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #E3E3E3;
	font-size: 100%;
	line-height: 1.125em;
	color: #333;
}

fieldset {
	border: 0;
}

.center {
	font-family: Georgia, Times, serif;
	border: 1px solid #999;
	width: 750px;
	margin: 2em auto;
	background-color: #FFF;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

tt,
pre {
	text-transform: none;
}

tt a,
pre a {
	text-decoration: none;
}

h1 {
	margin: -1px;
	border: 1px solid #999;
	padding: 0.2em 0 0 0.2em;
	font-size: 2em;
	line-height: 1.5em;
	-moz-border-radius-topleft: 7px;
	-webkit-border-top-left-radius: 7px;
	border-top-left-radius: 7px;
	-moz-border-radius-topright: 7px;
	-webkit-border-top-right-radius: 7px;
	border-top-right-radius: 7px;
}

h2 {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	font-size: 1em;
	padding: 0.2em 0.3em;
	background-color: #F8F8F8;
	text-transform: lowercase;
	margin: 1em 0 0.3em;
}

h2:first-child {
	margin-top: 0;
}

li {
	list-style: none;
	padding: 0.1em 0.5em;
}

p {
	padding: 0.1em 0.5em;
}

#headbar > img {
	max-width: 60px;
}

#subhead {
	float: right;
	margin: -1.6em 0.3em 0;
	font-size: 0.75em;
	/* if width < 200px, pushes down scores but not main col. (IE7) */
	width: 550px;
	text-align: right;
}

img {
	vertical-align: text-bottom;
	border: 0;
}

p,
li,
td {
	font-size: 0.875em;
}

td {
	padding: 0 0.25em;
}

table {
	width: 100%;
	text-transform: none;
	border-spacing: 0;
	border-collapse: collapse;
	margin: -0.3em 0 0.1em;
}

/* tr:first-child .nick {
	background-image: url(../images/fugue/crown.png);
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 16px;
} */

tr:first-child .nick {
	background-image: url(../images/fugue/trophy.png);
	background-repeat: no-repeat;
	background-position: center right;
}

.points {
	text-align: right;
}

.row1 {
	background-color: #F8F8F8;
}

.online {
	font-weight: bold;
}

a.out {
	background-image: url(../images/shortcut-tiny.png);
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: 11px;
}

#copyline {
	border: 1px solid #999;
	margin: 0 -1px -1px -1px;
	text-align: center;
	font-size: 0.65em;
	padding: 0 0.2em;
	background-color: #F8F8F8;
	clear: both;
	-moz-border-radius-bottomleft: 7px;
	-webkit-border-bottom-left-radius: 7px;
	border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-webkit-border-bottom-right-radius: 7px;
	border-bottom-right-radius: 7px;
	text-transform: lowercase;
}

#leftcol {
	padding-bottom: 1em;
}

#leftcol.twocol {
	float: left;
	width: 550px;
	border-right: 1px solid #999;
	margin-right: -1px;
}

#rightcol.twocol {
	float: right;
	width: 199px;
	border-left: 1px solid #999;
}

/* things - editor */
#editme,
#deleteme {
	float: right;
}

#leftcol.twocol textarea {
	width: 535px;
}

textarea {
	width: 735px;
	height: 240px;
	margin: 0.1em 0.5em;
}

form {
	margin-top: 1em;
}

input {
	margin: 0.1em 0 0.1em 0.5em;
}

/* cycled */
a {
	color: #33A;
}

a:visited {
	color: #225;
}

a:hover {
	color: #33A;
}

#subhead a {
	color: inherit;
	text-decoration: none;
}

#subhead a:hover {
	text-decoration: underline;
}

/* dark */
body.dark #headbar {
	display: none;
}

body.dark #subhead {
	float: left;
	text-align: left;
}

body.dark {
	background: #000 url(../images/nac_vfd_os.png) no-repeat right top;
}

body.dark h2:first-child {
	margin-top: -1px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

body.dark #leftcol.twocol h2:first-child {
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0;
}

body.dark #rightcol.twocol h2:first-child {
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
}

body.dark .center {
	margin: 130px auto 2em;
	background-color: #000;
	color: #a8f0ef;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

body.dark p,
body.dark li,
body.dark td {
	font-size: small;
}

body.dark h2 a {
	text-decoration: none;
}

body.dark h2,
body.dark #copyline,
body.dark tr.row1 {
	background-color: #010a09;
}

body.dark .center,
body.dark h2,
body.dark #copyline,
body.dark #leftcol,
body.dark #rightcol {
	border-color: #102724;
}

body.dark tr:first-child .nick {
	background-image: none;
}

body.dark a,
body.dark a:hover {
	color: #ffff99;
}

body.dark a:visited {
	color: #e6dd70;
}

body.dark a.out {
	background-image: none;
	padding-right: 0
}
